@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --primary-orange: hsl(31, 77%, 52%);
  --primary-cyan: hsl(184, 100%, 22%);
  --primary-dark-cyan: hsl(179, 100%, 13%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

body {
  font-family: "Lexend", sans-serif;
  font-size: 62.5%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  border-radius: 10px;
  height: 30rem;
  width: 60rem;
}

h1 {
  font-family: "Big Shoulders Display";
  font-size: 3.5rem;
  color: white;
  text-transform: uppercase;
}
.icon {
  margin-top: 2rem;
}

.sedans-container {
  background-color: var(--primary-orange);
  border-radius: 10px 0 0 10px;
}

.sedan-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  text-align: left;
  padding-left: 2rem;
  width: 20;
  height: 35rem;
}

.suvs-container {
  background-color: var(--primary-cyan);
}

.suvs-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  text-align: left;
  padding-left: 2rem;
  width: 20;
  height: 35rem;
}

.luxury-container {
  background-color: var(--primary-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.luxury-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  text-align: left;
  padding-left: 2rem;
  width: 20;
  height: 35rem;
}

p {
  font-family: "Lexend";
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 1rem 3.5rem 1rem 0;
}

.btn {
  border: 1pc white;
  border-radius: 20px;
  height: 2.5rem;
  width: 10rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-decoration: none;
}
.btn:hover {
  color: white;
  background-color: transparent;
  border: 1px white solid;
}

.sedan-btn {
  color: var(--primary-orange);
}
.suvs-btn {
  color: var(--primary-cyan);
}
.luxury-btn {
  color: var(--primary-dark-cyan);
}
